/* Ini CSS */
nav {
    display: flex;
}

nav > a{
    border: 1px solid;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.logo {
    height: 50px;
    width: 50px;
    background-image: url(../assets/logo.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .photo-banner {
    height: 250px;
    background-image: url(https://picsum.photos/1000);
    background-size: cover;
    background-position: center;

} */
.photo-banner {
    position: relative;
    width: 100; /* Sesuaikan dengan ukuran gambar */
    height: 500px; /* Sesuaikan dengan ukuran gambar */
    overflow: hidden; /* Menyembunyikan gambar yang melampaui kontainer */
}

.img-slideshow {
    display: none; /* Sembunyikan semua gambar secara default */
    width: 100%; /* Atur lebar gambar agar sesuai kontainer */
    height: auto; /* Atur tinggi gambar otomatis */
}



/* .profile-article {
    height: 400px;
    display: flex;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
} */

.profile-content:first-child {
    flex: 0 0 50%;
}

.profile-article > div{
    line-height: 1.5;
}

.lokasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.lokasi-1 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/bali.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.lokasi-2 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/jakarta.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.lokasi-3 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/pontianak.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.lokasi-4 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/surabaya.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.lokasi-5 {
    height: 100px;
    width: 100px;
    background-image: url(../assets/yogyakarta.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#section-profile{
    background-color: #fffcf2;
}

/* table {
    width: 100%; 
    border-collapse: collapse;
}

td {
    text-align: center; 
    padding: 10px;
    vertical-align: top; 
}

img {
    max-width: 100%;
    height: auto; /
} */

input[type="date"] {
    width: calc(50ch);
    padding: 8px;
}

input[type="text"] {
    width: calc(49.5ch);
    padding: 8px;
}

button {
    width: calc(66.6ch);
    padding: 8px;
    background-color: #bde0fe;
    border: none;
}

button:hover {
    background-color: #a2d2ff
}

input[type="date"],
input[type="text"],
textarea {
    border: 1px solid #808080;
}

.hidden {
    display: none;
}

.message-container p {
    display: block; /* Memastikan setiap <p> tampil dalam blok */
    margin: 5px 0; /* Memberi jarak antar <p> */
    padding: 5px 0; /* Menambahkan padding untuk penampilan yang lebih baik */
}

.footer{
    text-align: center;
    background-color: #fffcf2;
}

.error {
    border: 1px solid #bc4749;
}

.errorText {
    color: #bc4749;
}

.form-container {
    display: flex; /* Menggunakan Flexbox */
    justify-content: space-between; /* Memisahkan ruang antara form dan message container */
}

form {
    flex: 1; /* Membuat form mengambil ruang yang tersisa */
    margin-right: 20px; /* Menambahkan margin kanan agar ada jarak */
}

.message-container {
    display: flex;
    flex-direction: column; 
}

#message-container {
    border: 1px solid#808080;
    flex: 0 0 700px;
}

@media only screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }
    .menu {
        width: 100%;
        flex-direction: column;
        }

        .portofolio-article img {
            width: 140px; /* Ukuran gambar saat responsif */
            height: auto; /* Menjaga proporsi gambar */
        }

    .form-container {
        flex-direction: column; /* Ubah arah flex menjadi kolom pada layar kecil */
    }

    .message-container {
        width: 100%; /* Memastikan message container menempati lebar penuh */
    }

    #message-container {
        margin-top: 20px;
        flex: 0 0 200px; /* Ukuran tetap untuk message container */
    }

    .photo-banner{
        height: 300px;
    }
    }
